* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header div {
  background-image: url("https://www.education.gouv.fr/sites/default/files/styles/image_box/public/2024-06/affiche-fdlm-2024---f-te-de-la-musique-114584.jpg?itok=_PRP7tjJ");
  height: 50svh;
  background-size: cover;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(83,165,128);
  padding: 1rem;
}

section {
  display: flex ;
  flex-direction: column;
  width: calc(100%/3); ;
}

.rubrique {
  display: flex;
  justify-content: space-between;
}



.regroupe {
  display: flex;
  justify-content: space-around;
}

.regroupe > div {
  display: flex;
flex-direction: column;
padding: 1rem;
}

.nous-suivre {
  display: flex;
  align-items: center;
  
}

h1,p {
  text-align: center;
}

h2 {
  padding-bottom: 1rem;
}

.regroupe a {
  text-decoration: none;
  color: black;
}

.regroupe a:hover {
  cursor: pointer;
  color : red;
}

.facebook,.twitter,.insta {
  border: solid 3px white;
  border-radius: 50%;
  padding: 0.1rem;
  font-size: 3rem;
  margin-right: 1rem;
  padding: 0.3rem;
}



